[req]
distinguished_name=req_distinguished_name
req_extensions=req_ext
prompt=no

[req_distinguished_name]
C=US
ST=California
L=Monterey
O=SafePi
OU=None
CN=SafePi

[req_ext]
subjectAltName=@alt_names

[alt_names]
IP.1=184.72.19.36
